@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme static {
  --color-primary: #1a56db;
  --color-status-done: #10b981;
  --color-status-pending: #f59e0b;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
